@{
    ViewData["Title"] = "Sobre Nosotros";
}

<div>
    @*<p>--------------------Seccion About--------------------</p>*@
<div class="content bg-white">
    <div class="content container-fluid">
        <section class="row">
            <div class="col-12 col-lg-6">
                <div style="margin:23px 0;">
                        <p id="mensaje" class="btn btn-success text-center col-12 btn-lg active">Sobre nosotros</p>
                </div>
                <div class="section-text">
                    El objetivo de La Encuestadora es ofrecerle las encuestas que mejor pagan en Internet.
                </div>
                <div class="text-center">
                    <a class="start-here-button d-inline-block" href="/Identity/Account/Register">
                        ¿Quiere unirse? haga clic aquí
                    </a>
                </div>
            </div>
        </section>

        <section class="row">
            <h2>
                <span style="font-weight: 400;">¿Qué es La Encuestadora?</span>
            </h2>
            <div>
                <p>La Encuestadora es un panel de encuestas gratuito donde puede ganar dinero haciendo encuestas. Nuestras encuestas están relacionadas con la vida cotidiana. No hay preguntas para las que no sepa la respuesta, solo opiniones. Recopilamos opiniones para ayudar a nuestros socios a comprender el panorama general.</p>

                <p>Su opinión, junto con cientos y miles de otras, envía un mensaje contundente a las empresas y organizaciones. Necesitan escuchar sus pensamientos y deseos. En La Encuestadora valoramos su opinión y contribución social, y lo recompensamos por ello.</p>
            </div>

            <p class="text-center mt-5">
                Si tiene alguna pregunta, no dude en leer nuestra página de <a href="/Home/Faqs">Preguntas frecuentes</a> aquí o contáctenos en <a href="mailto:support@laencuestadora.com">support@laencuestadora.com</a>
            </p>

        </section>
    </div>
</div>

</div>
