@{
    ViewData["Title"] = "Preguntas Frecuentes";
}

<div>

    @*<p>--------------------Seccion Faqs--------------------</p>*@
    <div class="content bg-white">
        <div class="content container-fluid">
            <section class="row">
                <div class="col-12 col-lg-6">
                    <div style="margin:23px 0;">
                        <p id="mensaje" class="btn btn-success text-center col-12 btn-lg active">Preguntas Frecuentes</p>
                    </div>
                    <div class="section-text">
                        <p>
                            <em>
                                En esta página puede encontrar las preguntas y respuestas más comunes que tenían otros miembros.
                            </em>
                        </p>
                        
                    </div>
                </div>
            </section>
            <section class="row">
                <p>Si no puede encontrar su respuesta, contáctenos directamente en <a href="mailto:support@laencuestadora.com">support@laencuestadora.com</a>. Estamos encantados de responder a todas sus preguntas que podrían ser útiles para otros usuarios.</p>
                <div class="section-text">
                    <p>------FAQS Usuarios------</p>
                    <table>
                        <lu>
                            Preguntas y Respuestas Usuarios
                        </lu>
                    </table>
                    <br />
                    <p>------FAQS Encuestas------</p><br />
                    <table>
                        <lu>
                            Preguntas y Respuestas Encuestas
                        </lu>
                    </table>
                    <br />
                    <p>------FAQS Clientes------</p><br />
                    <table>
                        <lu>
                            Preguntas y Respuestas Clientes
                        </lu>
                    </table>
                    <br />
                </div>

            </section>
        </div>
    </div>
</div>
