@{
    ViewData["Title"] = "Portada";
}

<div>

    @*<p>--------------------Seccion Portada--------------------</p>*@


    <div class="container-fluid">
        <section class="row justify-content-start align-items-center">
            <div class="col-12 col-sm-6">
                <div style="margin:23px 0;">
                    <h1>
                        Encuestas pagas: gane dinero en línea
                        <br>
                    </h1>
                </div>
                <div class="section-text">
                    Obtenga hasta 500 puntos por cada encuesta
                </div>
                <div class="section-text">
                    Pago fácil y seguro
                </div>
            </div>
        </section>
        <br />
        <section class="row justify-content-start align-items-center">
            <div class="col-12 col-sm-6">
                <div class="section-text">
                    <h2>
                        Cómo ganar con encuestas pagas en 3 sencillos pasos
                        <br />
                    </h2>
                    <br />
                </div>
            </div>
        </section>
        <section class="row justify-content-start align-items-center">
                <div class="col-4 col-sm-4">
                    <img class="col-icon img-fluid" alt="Registrese en La Encuestadora" src="/img/imagen1.png">
                    <div class="section-text">
                        <h4>Regístrese</h4>
                        <p>
                            Todos pueden unirse. Es fácil de registrarse y solo toma 30 segundos.
                            <a href="/Identity/Account/Register">Inicie el registro aquí</a>
                        </p>
                    </div>
                </div>
                <div class="col-4 col-sm-4">
                    <img class="col-icon img-fluid" alt="Conteste online" src="/img/imagen2.png">
                    <div class="section-text">
                        <h4>Responder</h4>
                        <p>
                            Se le invitará por correo electrónico a las encuestas. Contesta honestamente. Sus respuestas son anónimas.
                        </p>
                    </div>
                </div>
                <div class="col-4 col-sm-4">
                    <img class="col-icon img-fluid" alt="Reciba pagos por responder" src="/img/imagen3.png">
                    <div class="section-text">
                        <h4>Recibir el pago</h4>
                        <p>
                            Cuando haya alcanzado el umbral de puntos, puede recibir el pago con un solo clic.
                        </p>
                    </div>
                </div>
        </section>
    </div>
</div>
